#password{
    width:100%;
    font-family:Courier,monospace;
    background-color:rgb(247, 255, 245);
    color:rgb(0, 59, 15);
    font-size:2em;
    letter-spacing:-0.06em;
    border-style:2px rgb(0, 59, 15) dashed;
}